<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">         
            <menuContribution
                  locationURI="popup:org.eclipse.fedoraproject.packager.main?before=org.fedoraproject.eclipse.packager.cvssep">
                  <menu
                  label="%menu.label.1"
                  mnemonic="%menu.mnemonic.0">
               <command
                     commandId="org.fedoraproject.eclipse.packager.UploadCommand"
                     label="%command.label.2"
                     mnemonic="%command.mnemonic.2"
                     style="push">
               </command>
               <command
                     commandId="org.fedoraproject.eclipse.packager.NewSourcesCommand"
                     label="%command.label.3"
                     mnemonic="%command.mnemonic.3"
                     style="push">
               </command>
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <with
                           variable="activeMenuSelection">
                        <reference
                              definitionId="org.fedoraproject.eclipse.packager.cvsproject">
                        </reference>
                     </with>
                     <with
                           variable="activeMenuEditorInput">
                        <reference
                              definitionId="org.fedoraproject.eclipse.packager.cvsproject">
                        </reference>
                     </with>
                  </or>
               </visibleWhen>
            </menu>
            <command
                  commandId="org.fedoraproject.eclipse.packager.DownloadCommand"
                  label="%command.label.4"
                  mnemonic="%command.mnemonic.4"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <with
                           variable="activeMenuSelection">
                        <reference
                              definitionId="org.fedoraproject.eclipse.packager.cvsproject">
                        </reference>
                     </with>
                     <with
                           variable="activeMenuEditorInput">
                        <reference
                              definitionId="org.fedoraproject.eclipse.packager.cvsproject">
                        </reference>
                     </with>
                  </or>
               </visibleWhen>
            </command>
            <command
                  commandId="org.fedoraproject.eclipse.packager.TagCommand"
                  label="%command.label.5"
                  mnemonic="%command.mnemonic.5"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <with
                           variable="activeMenuSelection">
                        <reference
                              definitionId="org.fedoraproject.eclipse.packager.cvsproject">
                        </reference>
                     </with>
                     <with
                           variable="activeMenuEditorInput">
                        <reference
                              definitionId="org.fedoraproject.eclipse.packager.cvsproject">
                        </reference>
                     </with>
                  </or>
               </visibleWhen>
            </command>
            <command
                  commandId="org.fedoraproject.eclipse.packager.CommitCommand"
                  label="%command.label.6"
                  mnemonic="%command.mnemonic.6"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <or>
                  <with variable="activeMenuSelection">
                     <reference definitionId="org.fedoraproject.eclipse.packager.cvsproject"/>
                  </with>
                  <with variable="activeMenuEditorInput">
                     <reference definitionId="org.fedoraproject.eclipse.packager.cvsproject"/>
                  </with>
               </or>
               </visibleWhen>
            </command>
            </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
         <command
            defaultHandler="org.fedoraproject.eclipse.packager.cvs.CommitHandler"
            id="org.fedoraproject.eclipse.packager.CommitCommand"
            name="%command.name.1">
      </command>
      <command
            defaultHandler="org.fedoraproject.eclipse.packager.cvs.UploadHandler"
            id="org.fedoraproject.eclipse.packager.UploadCommand"
            name="%command.name.6">
      </command>
      <command
            defaultHandler="org.fedoraproject.eclipse.packager.cvs.NewSourcesHandler"
            id="org.fedoraproject.eclipse.packager.NewSourcesCommand"
            name="%command.name.7">
      </command>
      <command
            defaultHandler="org.fedoraproject.eclipse.packager.cvs.DownloadHandler"
            id="org.fedoraproject.eclipse.packager.DownloadCommand"
            name="%command.name.9">
      </command>
      <command
            defaultHandler="org.fedoraproject.eclipse.packager.cvs.TagHandler"
            id="org.fedoraproject.eclipse.packager.TagCommand"
            name="%command.name.10">
      </command>
   </extension>
<extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="org.eclipse.team.cvs.ui.importWizards"
            class="org.fedoraproject.eclipse.packager.cvs.FedoraCheckoutWizard"
            icon="icons/newconnect_wiz.gif"
            id="org.fedoraproject.eclipse.packager.FedoraImportWizard"
            name="%wizard.name.0">
         <description>
            %wizard.description.0
         </description>
      </wizard>
   </extension>
</plugin>
