<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?><!--
    Copyright (c) 2010 Red Hat Inc. and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Red Hat Inc. - initial API and implementation
 -->

<plugin>
	<extension point="org.eclipse.core.expressions.definitions">
      <definition id="org.fedoraproject.eclipse.packager.cvsproject">
         <iterate ifEmpty="false">
            <adapt type="org.eclipse.core.resources.IResource">
               <test
                  args="org.eclipse.team.core.repository,org.eclipse.team.cvs.core.cvsnature"
                  property="org.eclipse.core.resources.projectPersistentProperty">
               </test>
            </adapt>
         </iterate>
       </definition>
        <definition id="org.fedoraproject.eclipse.packager.gitproject">
         <iterate ifEmpty="false">
            <adapt type="org.eclipse.core.resources.IResource">
               <test
                  args="org.eclipse.team.core.repository,org.eclipse.egit.core.GitProvider"
                  property="org.eclipse.core.resources.projectPersistentProperty">
               </test>
            </adapt>
         </iterate>
      </definition>
   </extension>

   <extension point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?before=additions">
         <menu
               icon="icons/fedora16x16.png"
               id="org.eclipse.fedoraproject.packager.main"
               label="%menu.label.0">
            <separator
                  name="org.fedoraproject.eclipse.packager.kojisep"
                  visible="false">
            </separator>
            <separator
                  name="org.fedoraproject.eclipse.packager.bodhisep"
                  visible="true">
            </separator>
            
            <separator
                  name="org.fedoraproject.eclipse.packager.cvssep"
                  visible="true">
            </separator>
            
         </menu>
      </menuContribution>
    </extension>

</plugin>
