<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
    Copyright (c) 2010-2011 Red Hat Inc. and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Red Hat Inc. - initial API and implementation
 -->

<plugin>
      <extension
            point="org.eclipse.ui.menus">
         <menuContribution
               locationURI="popup:org.eclipse.fedoraproject.packager.main?after=org.fedoraproject.eclipse.packager.cvssep">
               <command
                  commandId="org.fedoraproject.eclipse.packager.PrepCommand"
                  label="%command.label.7"
                  mnemonic="%command.mnemonic.7"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <with
                           variable="activeMenuSelection">
                        <reference
                              definitionId="org.fedoraproject.eclipse.packager.project">
                        </reference>
                     </with>
                     <with
                           variable="activeMenuEditorInput">
                        <reference
                              definitionId="org.fedoraproject.eclipse.packager.project">
                        </reference>
                     </with>
                  </or>
               </visibleWhen>
            </command>
            <command
                  commandId="org.fedoraproject.eclipse.packager.SRPMCommand"
                  label="%command.label.8"
                  mnemonic="%command.mnemonic.8"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <with
                           variable="activeMenuSelection">
                        <reference
                              definitionId="org.fedoraproject.eclipse.packager.project">
                        </reference>
                     </with>
                     <with
                           variable="activeMenuEditorInput">
                        <reference
                              definitionId="org.fedoraproject.eclipse.packager.project">
                        </reference>
                     </with>
                  </or>
               </visibleWhen>
            </command>
            <command
                  commandId="org.fedoraproject.eclipse.packager.LocalCommand"
                  label="%command.label.9"
                  mnemonic="%command.mnemonic.9"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <with
                           variable="activeMenuSelection">
                        <reference
                              definitionId="org.fedoraproject.eclipse.packager.project">
                        </reference>
                     </with>
                     <with
                           variable="activeMenuEditorInput">
                        <reference
                              definitionId="org.fedoraproject.eclipse.packager.project">
                        </reference>
                     </with>
                  </or>
               </visibleWhen>
            </command>
            <command
                  commandId="org.fedoraproject.eclipse.packager.MockCommand"
                  label="%command.label.10"
                  mnemonic="%command.mnemonic.10"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <with
                           variable="activeMenuSelection">
                        <reference
                              definitionId="org.fedoraproject.eclipse.packager.project">
                        </reference>
                     </with>
                     <with
                           variable="activeMenuEditorInput">
                        <reference
                              definitionId="org.fedoraproject.eclipse.packager.project">
                        </reference>
                     </with>
                  </or>
               </visibleWhen>
            </command>
            <command
                  commandId="org.fedoraproject.eclipse.packager.SCMMockCommand"
                  label="%command.label.11"
                  mnemonic="%command.mnemonic.11"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <with
                           variable="activeMenuSelection">
                        <reference
                              definitionId="org.fedoraproject.eclipse.packager.project">
                        </reference>
                     </with>
                     <with
                           variable="activeMenuEditorInput">
                        <reference
                              definitionId="org.fedoraproject.eclipse.packager.project">
                        </reference>
                     </with>
                  </or>
               </visibleWhen>
            </command>
         </menuContribution>
            
      </extension>
      <extension
         point="org.eclipse.ui.commands">
      
      <command
            defaultHandler="org.fedoraproject.eclipse.packager.rpm.internal.handlers.PrepHandler"
            id="org.fedoraproject.eclipse.packager.PrepCommand"
            name="%command.name.2">
      </command>
      <command
            defaultHandler="org.fedoraproject.eclipse.packager.rpm.internal.handlers.LocalBuildHandler"
            id="org.fedoraproject.eclipse.packager.LocalCommand"
            name="%command.name.3">
      </command>
      <command
            defaultHandler="org.fedoraproject.eclipse.packager.rpm.internal.handlers.SRPMBuildHandler"
            id="org.fedoraproject.eclipse.packager.SRPMCommand"
            name="%command.name.4">
      </command>
      <command
            defaultHandler="org.fedoraproject.eclipse.packager.rpm.internal.handlers.MockBuildHandler"
            id="org.fedoraproject.eclipse.packager.MockCommand"
            name="%command.name.5">
      </command>
      <command
            defaultHandler="org.fedoraproject.eclipse.packager.rpm.internal.handlers.SCMMockBuildHandler"
            id="org.fedoraproject.eclipse.packager.SCMMockCommand"
            name="%command.name.6">
      </command>
   </extension>
   <extension
         name="SCMMockBuildCommand"
         point="org.fedoraproject.eclipse.packager.packagerCommandContribution">
       <command id="RpmEvalCommand"
       	        class="org.fedoraproject.eclipse.packager.rpm.api.RpmEvalCommand">
       </command>
       <command id="RpmBuildCommand"
       	        class="org.fedoraproject.eclipse.packager.rpm.api.RpmBuildCommand">
       </command>
       <command id="MockBuildCommand"
       	        class="org.fedoraproject.eclipse.packager.rpm.api.MockBuildCommand">
       </command>
       <command
             class="org.fedoraproject.eclipse.packager.rpm.api.SCMMockBuildCommand"
             id="SCMMockBuildCommand">
       </command>
   </extension>
   <!-- Keyboard shortcut definitions -->
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.fedoraproject.eclipse.packager.PrepCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+F P">
      </key>
      <key
            commandId="org.fedoraproject.eclipse.packager.LocalCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+F L">
      </key>
      <key
            commandId="org.fedoraproject.eclipse.packager.MockCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+F R">
      </key>
      <key
            commandId="org.fedoraproject.eclipse.packager.SRPMCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+F S">
      </key>
      <key
            commandId="org.fedoraproject.eclipse.packager.SCMMockCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+F M">
      </key>
    </extension>
</plugin>
