<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
    Copyright (c) 2010-2011 Red Hat Inc. and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

    Contributors:
        Red Hat Inc. - initial API and implementation
 -->
<plugin>
<extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="org.eclipse.egit.ui.internal.clone.gitclonecategory"
            class="org.fedoraproject.eclipse.packager.git.internal.ui.FedoraPackagerGitCloneWizard"
            icon="icons/import_obj.gif"
            id="org.fedoraproject.eclipse.packager.FedoraImportWizard"
            name="%FedoraGitWizardName">
         <description>
            %FedoraGitWizardDescription
         </description>
      </wizard>
   </extension>
   <extension
      point="org.fedoraproject.eclipse.packager.vcsContribution">
   <vcs
         class="org.fedoraproject.eclipse.packager.git.FpGitProjectBits"
         type="GIT"
         name="Git">
   </vcs>
</extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.fedoraproject.eclipse.packager.preferences"
            class="org.fedoraproject.eclipse.packager.git.internal.preferences.FedoraPackagerGitPreferencePage"
            id="org.fedoraproject.eclipse.packager.preferences.git"
            name="Git">
      </page>
   </extension>
    <extension
          point="org.eclipse.equinox.preferences.preferences">
       <initializer
             class="org.fedoraproject.eclipse.packager.git.internal.preferences.FedoraPackagerGitPreferenceInitializer">
       </initializer>
    </extension>
    <!-- Keyboard shortcut definitions -->
    <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.fedoraproject.eclipse.packager.git.ImportFromFedoraGit"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+F I">
      </key>
    </extension>
    <extension
          point="org.eclipse.ui.commands">
       <command
             defaultHandler="org.fedoraproject.eclipse.packager.git.internal.ui.ImportFromFedoraGitHandler"
             id="org.fedoraproject.eclipse.packager.git.ImportFromFedoraGit"
             name="%FedoraGitWizardCommandName">
       </command>
       <command
            defaultHandler="org.fedoraproject.eclipse.packager.git.internal.handlers.ConvertLocalToRemoteHandler"
            id="org.fedoraproject.eclipse.packager.ConvertLocalToRemoteCommand"
            name="ConvertLocalToRemote">
      </command>
    </extension>
    <!-- Core plug-in contributes convert local to remote command  -->
    <extension
          point="org.fedoraproject.eclipse.packager.packagerCommandContribution">
       <command id="ConvertLocalToRemoteCommand"
                class="org.fedoraproject.eclipse.packager.git.api.ConvertLocalToRemoteCommand">
       </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.fedoraproject.packager.main?before=org.fedoraproject.eclipse.packager.cvssep">
         <command
                  commandId="org.fedoraproject.eclipse.packager.ConvertLocalToRemoteCommand"
                  label="%LabelConvertLocalToRemote"
                  mnemonic="%MnemonicConvertLocalToRemote"

                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <with
                           variable="activeMenuSelection">
                        <reference
                              definitionId="org.fedoraproject.eclipse.packager.localproject">
                        </reference>
                     </with>
                     <with
                           variable="activeMenuEditorInput">
                        <reference
                              definitionId="org.fedoraproject.eclipse.packager.localproject">
                        </reference>
                     </with>
                  </or>
               </visibleWhen>
         </command>
       </menuContribution>
    </extension>
</plugin>
