<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.fedoraproject.eclipse.packager.local.localproject">
          <or>
              <!-- Filter on persistent property only . -->
              <reference
                  definitionId="org.fedoraproject.eclipse.packager.local.persistentProperty">
              </reference>
          </or>
      </definition>
      <definition
            id="org.fedoraproject.eclipse.packager.local.persistentProperty">
          <iterate
               ifEmpty="false">
            <or>
               <adapt
                     type="org.eclipse.core.resources.IProject">
                  <test
                        args="org.fedoraproject.eclipse.packager.local.localproject"
                        property="org.eclipse.core.resources.persistentProperty">
                  </test>
               </adapt>
               <adapt
                     type="org.eclipse.core.resources.IResource">
                  <test
                        args="org.fedoraproject.eclipse.packager.local.localproject"
                        property="org.eclipse.core.resources.persistentProperty">
                  </test>
               </adapt>
           </or>
         </iterate>
      </definition>
   </extension>

   <extension
         point="org.eclipse.ui.newWizards">
		<category 
			id="org.fedoraproject.eclipse.packager.local.category.wizards" 
			name="%LocalFedoraPackagerWizardName">
		</category>
		<wizard 
			category="org.fedoraproject.eclipse.packager.local.category.wizards" 
			class="org.fedoraproject.eclipse.packager.local.internal.ui.LocalFedoraPackagerProjectWizard" 
			icon="icons/fedora16x16.png" id="org.fedoraproject.eclipse.packager.local.newprojectwizard" 
			name="%FedoraGitWizardCommandName">
		</wizard>
	</extension>
	
	<extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?before=additions">
         <menu
               icon="icons/fedora16x16.png"
               id="org.eclipse.fedoraproject.packager.main"
               label="%MenuProductName">
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.fedoraproject.packager.main?">
         <command
               commandId="org.fedoraproject.eclipse.packager.local.prepCommand"
               label="%LocalFedoraPackagercommand.label.prep"
               mnemonic="%LocalFedoraPackagercommand.mnemonic.prep"
               style="push">
				<visibleWhen
                     checkEnabled="false">
                  <or>
                     <with
                           variable="activeMenuSelection">
                        <reference
                              definitionId="org.fedoraproject.eclipse.packager.local.localproject">
                        </reference>
                     </with>
                     <with
                           variable="activeMenuEditorInput">
                        <reference
                              definitionId="org.fedoraproject.eclipse.packager.local.localproject">
                        </reference>
                     </with>
                  </or>
               </visibleWhen>
         </command>
         <command
               commandId="org.fedoraproject.eclipse.packager.local.srpmCommand"
               label="%LocalFedoraPackagercommand.label.srpm"
               mnemonic="%LocalFedoraPackagercommand.mnemonic.srpm"
               style="push">
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <with
                           variable="activeMenuSelection">
                        <reference
                              definitionId="org.fedoraproject.eclipse.packager.local.localproject">
                        </reference>
                     </with>
                     <with
                           variable="activeMenuEditorInput">
                        <reference
                              definitionId="org.fedoraproject.eclipse.packager.local.localproject">
                        </reference>
                     </with>
                  </or>
               </visibleWhen>
         </command>
         <command
               commandId="org.fedoraproject.eclipse.packager.local.BuildCommand"
               label="%LocalFedoraPackagercommand.label.build"
               mnemonic="%LocalFedoraPackagercommand.mnemonic.build"
               style="push">
				<visibleWhen
                     checkEnabled="false">
                  <or>
                     <with
                           variable="activeMenuSelection">
                        <reference
                              definitionId="org.fedoraproject.eclipse.packager.local.localproject">
                        </reference>
                     </with>
                     <with
                           variable="activeMenuEditorInput">
                        <reference
                              definitionId="org.fedoraproject.eclipse.packager.local.localproject">
                        </reference>
                     </with>
                  </or>
               </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.fedoraproject.eclipse.packager.local.internal.handlers.PrepHandler"
            id="org.fedoraproject.eclipse.packager.local.prepCommand"
            name="%LocalFedoraPackagercommand.name.prep">
      </command>
      <command
            defaultHandler="org.fedoraproject.eclipse.packager.local.internal.handlers.SRPMBuildHandler"
            id="org.fedoraproject.eclipse.packager.local.srpmCommand"
            name="%LocalFedoraPackagercommand.name.srpm">
      </command>
      <command
            defaultHandler="org.fedoraproject.eclipse.packager.local.internal.handlers.LocalBuildHandler"
            id="org.fedoraproject.eclipse.packager.local.BuildCommand"
            name="%LocalFedoraPackagercommand.name.build">
      </command>
   </extension>
    
 <extension
       point="org.fedoraproject.eclipse.packager.projectRootProvider">
    <projectRoot
          class="org.fedoraproject.eclipse.packager.local.LocalFedoraPackagerProjectRoot">
    </projectRoot>
 </extension>

</plugin>
